@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

:root {
  --color-dark: rgba(33, 33, 33, 1);
  --color-light: rgba(250, 250, 250, 1);
  --percentage-body: 0;
  --percentage-head: 0;
  --percentage-shirt: 0;
  --primary: #007bff;

  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  :has(#dark_theme_color:checked) {
    color-scheme: dark !important;
  }

  :has(#light_theme_color:checked) {
    color-scheme: light !important;
  }
}

:is(*, *::before, *::after) {
  box-sizing: border-box;
}

:is(form, main) {
  display: grid;
  justify-items: center;
}

a {
  color: light-dark(var(--color-dark), var(--color-light));
  font-size: small;
  text-decoration: none;

  &:focus,
  &:hover {
    color: var(--primary);
    outline: none;
    text-decoration: underline;
  }
}

body {
  --y1: 0;
  --y2: -20px;
  --opacity: 0;
  --opacity_a: 1;

  margin: 0;
  background-color: light-dark(var(--color-light), var(--color-dark));

  a,
  form {
    opacity: 0;
    transform: translateY(-100%);
  }

  a {
    transition: opacity .5s ease-in-out 1.5s, transform .5s ease-in-out 1.5s;
  }

  img {
    opacity: 0;
    transform: translateY(100%);
    transition: .5s ease-in-out 1.15s;
  }

  &.loading {
    a {
      opacity: 0 !important;
      transform: translateY(-400%) !important;
      transition-delay: 0s !important;
    }

    button {
      transform: translateY(calc(-100% - 1rem)) !important;
      box-shadow: none !important;
      transition: transform .5s ease-in-out;
    }

    #password {
      opacity: 0 !important;
    }
  }

  &.logo-upload-complete {
    --percentage-body: 50;
    --percentage-head: 100;
    --percentage-shirt: 50;

    a,
    form {
      opacity: 1;
      transform: translateY(0);
    }

    img {
      opacity: 1;
      transform: translateY(0);
    }

    main svg {
      transform: translateY(0);

      >circle:first-child {
        transform: scale(1);
      }
    }
  }

  &:has(button:focus),
  &:has(button:hover) {
    svg>circle {
      transform: scale(0.25) !important;
      transition: transform .5s ease-in-out;
    }

    .icon-dots,
    .icon-password-recovery,
    .icon-password,
    .icon-user {
      opacity: 0 !important;
    }

    .icon-door {

      rect {
        width: 40px;
        transition: width .25s ease-in-out 1s;
      }

      path:first-child {
        stroke-dashoffset: 0;
        transform: scale(1);
        transition: stroke-dashoffset .5s ease-in-out .25s,
          transform .5s ease-in-out .25s;
      }

      path:last-child {
        opacity: 1;
        transform: translateX(0);
        transition: opacity .1s ease-in-out 1.05s,
          transform .20s ease-in-out 1.05s;
      }
    }
  }

  &:has(#username:focus),
  &:has(#username:hover) {

    .icon-door,
    .icon-dots,
    .icon-password,
    .icon-password-recovery  {
      opacity: 0 !important;
    }

    .icon-user {

      circle {
        transition-delay: 0 !important;
        transition-duration: .25s !important;
      }
    }
  }

  &:has(#password:focus),
  &:has(#password:hover) {
    --percentage-body: 0;
    --percentage-head: 0;
    --percentage-shirt: 0;

    .icon-dots,
    .icon-password-recovery,
    .icon-password,
    .icon-user {
      opacity: 0 !important;
    }

    .icon-dots {
      opacity: 1 !important;
      transition: opacity .25s ease-in-out;

      circle {
        transform: translate(0) !important;
        transition-property: transform;
        transition-timing-function: ease-in-out;

        &:nth-child(1) {
          transition-duration: .50s;
          transition-delay: 0s;
        }

        &:nth-child(2) {
          transition-duration: .47s;
          transition-delay: .03s;
        }

        &:nth-child(3) {
          transition-duration: .44s;
          transition-delay: .06s;
        }

        &:nth-child(4) {
          transition-duration: .41s;
          transition-delay: .09s;
        }

        &:nth-child(5) {
          transition-duration: .38s;
          transition-delay: .12s;
        }

        &:nth-child(6) {
          transition-duration: .35s;
          transition-delay: .15s;
        }

        &:nth-child(7) {
          transition-duration: .32s;
          transition-delay: .18s;
        }

        &:nth-child(8) {
          transition-duration: .29s;
          transition-delay: .21s;
        }

        &:nth-child(9) {
          transition-duration: .26s;
          transition-delay: .24s;
        }
      }
    }

    .icon-user {
      opacity: 0;
    }
  }

  &:has(#password_recovery:focus),
  &:has(#password_recovery:hover) {

    svg>circle {
      transition-delay: 0 !important;
    }

    .icon-door,
    .icon-dots,
    .icon-password,
    .icon-user {
      opacity: 0;
    }

    .icon-password-recovery {
      opacity: 1 !important;

      text {
        transition: .25s ease-in-out;

        &:not(:last-child) {
          transform: scale(1) translate(2px, -2px);
        }

        &:last-child {
          transform: scale(1) translate(8px, 12px);
        }

        &:nth-child(2) {
          transition-delay: .10s;
        }

        &:nth-child(3) {
          transition-delay: .20s;
        }

        &:nth-child(4) {
          transition-delay: .25s;
        }

        &:nth-child(4) {
          transition-delay: .30s;
        }

        &:nth-child(5) {
          transition-delay: .5s;
        }
      }

      path {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset .5s ease-in-out .25s;
      }
    }
  }

  &:has(#show_password:checked:focus) {
    --y1: 20px;
    --y2: 0;
    --opacity: 1;
    --opacity_a: 0;
  }

  &:has(#show_password:focus),
  &:has(#show_password:hover) {

    .icon-door,
    .icon-dots,
    .icon-password-recovery,
    .icon-user {
      opacity: 0 !important;
    }

    .icon-password {
      opacity: 1 !important;

      text {
        transition: .25s ease-in-out;
        transition-property: transform, opacity;

        &:nth-child(-n+3) {
          opacity: var(--opacity);
          transform: translateY(var(--y2));
        }

        &:nth-child(n+4) {
          opacity: var(--opacity_a);
          transform: translateY(var(--y1));
        }

        &:nth-child(3n+1) {
          transition-delay: 0s;
        }

        &:nth-child(3n+2) {
          transition-delay: .15s;
        }

        &:nth-child(3n) {
          transition-delay: .25s;
        }
      }
    }
  }
}

button {
  background: royalblue;
  border-radius: 1lh;
  border: none;
  color: white;
  corner-shape: squircle;
  font-size: 1rem;
  padding: .5lh 1lh;
  text-align: center;

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    background-color: var(--primary);
    box-shadow: 0 0 20px 3px var(--primary);
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

fieldset {
  border: none;
  bottom: 0;
  display: flex;
  gap: .25lh;
  margin: 0;
  opacity: 1;
  padding: .25lh;
  position: fixed;
  right: 0;

  &:not(:hover) {
    opacity: 0.5;

    label:has(input:not(:checked)) {
      margin-left: -29px;
    }
  }

  &:hover {
    label {
      opacity: 1;
    }

    legend {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0;
    }
  }

  label {
    cursor: pointer;
    opacity: 0;
    position: relative;
    transition: .25s cubic-bezier(0.43, -0.45, 0.04, 1.19);

    &:has(input:checked) {
      opacity: 1;
      z-index: 2;
    }

    input {
      display: none;
    }
  }

  legend {
    color: light-dark(var(--color-dark), var(--color-light));
    font-size: small;
    opacity: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: .2s ease-in-out .25s;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: light-dark(var(--color-dark), var(--color-light));
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

form {
  gap: .5rem;
  transition: .5s ease-in-out 1.15s;

  :is(div, span:has(span)) {
    position: relative;
  }

  /* Muestra el input#password si el capturo algo input#username */
  &:has(#username:placeholder-shown) #password,
  &:has(#username:placeholder-shown) button:not([type="button"]),
  &:has(#username:placeholder-shown) div {
    display: none;
  }

  /* Muestra el <button> si el usuario y la contraseña están capturados */
  &:has(#username:placeholder-shown, #password:placeholder-shown) button {
    display: none;
  }

  &:has(#show_password:checked) .mask i::before {
    animation-iteration-count: 0;
    animation-name: none;
    font-size: 0;
  }

  &:has(#show_password:not(:checked)) .mask i {
    animation-iteration-count: 1;
    font-size: 0;
  }

  :has(#show_password:focus) {

    #password {
      background-color: light-dark(rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    }

    label+label {
      opacity: 1 !important;
    }
  }

  :has(#password:not(:focus):not(:hover)) label:not(:hover)+label:not(:hover) {
    opacity: 0;
  }

  label:hover svg,
  :has(#show_password:focus) svg {
    background-color: light-dark(rgba(0, 0, 0, .1), rgba(255, 255, 255, .1)) !important;
  }

  [type="password"] {
    color: transparent;
    font-family: 'Courier New', Courier, monospace;

    &::placeholder {
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  div label:last-child {
    left: 100%;
    padding-left: .25rem;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    white-space: nowrap;

    &:has(input:not(:checked)) {

      path:nth-child(n+6) {
        display: none;
      }
    }

    &:has(input:checked) {

      path:nth-child(-n+5) {
        display: none;
      }
    }

    &:has(input:focus) {

      span {
        display: grid;
        place-content: center;
        justify-self: center;
      }
    }

    input {
      inset: 0;
      opacity: 0;
      position: absolute;
      z-index: 0;
    }

    svg {
      border-radius: 1lh;
      corner-shape: squircle;
      fill: none;
      height: 36px;
      overflow: visible;
      padding: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
      stroke: light-dark(var(--color-dark), var(--color-light));
      width: 36px;
    }
  }

  label {
    position: relative;

    .mask {
      left: calc(50% - 2px);
      position: absolute;
      top: calc(50% + 3px);
      transform: translate(-50%, -50%);
    }
  }

  span[data-checked] {
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    bottom: calc(100% + 0.25rem);
    color: white;
    font-size: x-small;
    left: 50%;
    padding: 1px 8px;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;

    &:before {
      font-size: x-small;
    }
  }
}

input {
  background: transparent;
  border-radius: 1lh;
  border: none;
  corner-shape: squircle;
  field-sizing: content;
  font-size: 1rem;
  margin: 0;
  padding: .5lh 1lh;
  text-align: center;

  :is(&:focus, &:hover) {
    background-color: light-dark(rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
    outline: none;
  }
}

label {

  &:has(.mask:hover) input {
    background-color: light-dark(rgba(0, 0, 0, .1), rgba(255, 255, 255, .1));
  }

  &:has(#show_password:checked) {

    [data-checked] {
      font-size: 0;

      &:before {
        content: attr(data-checked);
      }
    }
  }
}

main {
  min-height: 100dvh;
  place-content: center;
  gap: 1rem;

  svg {
    --background: rgba(127, 127, 127, 0.5);
    --color-stroke: #212121;
    --size: 100px;

    height: 100px;
    overflow: visible;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translateY(25%);
    transition: 1s cubic-bezier(.42, 0, 0, 5);
    width: 100px;

    &>circle:first-child {
      cx: 50%;
      cy: 50%;
      fill: var(--background);
      r: 50px;
      stroke: none;
      transform: scale(0);
      transition: 1s cubic-bezier(.42, 0, 0, 5);
    }

    circle {
      /** Circunferencia = 2 * π * radio */
      --circumference: calc(2 * 3.1416 * var(--radius));

      stroke: var(--color-stroke);
      transform-origin: center center;
    }

    .icon-user {
      circle {
        cx: 50%;
        fill: none;
        r: var(--radius);
        stroke-dasharray: var(--circumference);
        stroke-dashoffset: calc(var(--circumference) * (1 - var(--percentage) / 100));
        stroke-width: 4;
        transition: .5s linear .5s;

        /** BODY */
        &:nth-child(1) {
          --radius: 25px;
          --percentage: var(--percentage-body);

          cy: 25%;
          transform: rotate(180deg);
        }

        /** SHIRT */
        &:nth-child(2) {
          --radius: 10px;
          --percentage: var(--percentage-shirt);

          cy: calc(50% + 4px);
        }

        /** HEAD */
        &:nth-child(3) {
          --radius: 15px;
          --percentage: var(--percentage-head);

          cy: calc(25% + 10px);
        }
      }
    }

    .icon-door {

      path,
      rect {
        opacity: 1;
        stroke-width: 4;
        stroke: light-dark(var(--color-dark), var(--color-light));
      }

      path:first-child {
        fill: none;
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        transform: scale(1.57);
        transform-origin: center center;
      }

      path:last-child {
        opacity: 0;
        transform: translateX(-30px);
      }

      rect {
        fill: light-dark(var(--color-light), var(--color-dark));
        width: 0;
      }
    }

    .icon-dots {
      opacity: 0;

      circle {
        --radius: 5px;

        fill: var(--color-stroke);
        r: var(--radius);

        &:nth-child(-n+3) {
          cy: calc(50% - 20px);
        }

        &:nth-child(n+4):nth-child(-n+6) {
          cy: 50%;
        }

        &:nth-child(n+5) {
          cy: calc(50% + 20px);
        }

        &:nth-child(1) {
          cx: calc(50% - 20px);
          transform: translate(20px, 20px);
        }

        &:nth-child(2) {
          cx: 50%;
          transform: translate(0, 20px);
        }

        &:nth-child(3) {
          cx: calc(50% + 20px);
          transform: translate(-20px, 20px);
        }

        &:nth-child(4) {
          cx: calc(50% - 20px);
          transform: translate(20px, 0);
        }

        &:nth-child(5) {
          cx: 50%;
          transform: translate(0, 0);
        }

        &:nth-child(6) {
          cx: calc(50% + 20px);
          transform: translate(-20px, 0);
        }

        &:nth-child(7) {
          cx: calc(50% - 20px);
          transform: translate(20px, -20px);
        }

        &:nth-child(8) {
          cx: 50%;
          transform: translate(0, -20px);
        }

        &:nth-child(9) {
          cx: calc(50% + 20px);
          transform: translate(-20px, -20px);
        }
      }
    }

    .icon-password {
      opacity: 0;

      text {
        fill: var(--color-stroke);
        font: bold 35px/1 'Courier New', Courier, monospace;
        letter-spacing: -11px;
        stroke-width: 2px;

        &:nth-child(-n+3) {
          opacity: 1;
        }

        &:nth-child(n+4) {
          opacity: 0;
          transform: translateY(20px);
        }
      }

    }

    .icon-password-recovery {
      opacity: 0;

      path {
        stroke-dasharray: 160;
        stroke-dashoffset: 160;
        stroke-width: 4;
        stroke: var(--color-stroke);
        transform: translate(10px, -3px);
      }

      text {
        fill: var(--color-stroke);
        font: bold 28px/1 'Courier New', Courier, monospace;
        letter-spacing: -11px;
        stroke-width: 2px;
        transform-origin: center center;

        &:not(:last-child) {
          transform: scale(0) translate(2px, -2px);
        }

        &:last-child {
          font: bold 30px / 1 'Courier New', Courier, monospace;
          transform-origin: bottom right;
          transform: scale(0) translate(8px, 12px);
        }
      }

    }
  }
}

.mask {
  display: flex;
  justify-content: center;
  cursor: text;

  i {
    color: light-dark(var(--color-dark), var(--color-light));
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    width: 9.6px;

    &:before {
      animation-delay: .15s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: step-start;
      content: "·abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789`~,.<>?/;:][{+}_)(*&^%$#@!±=-§*";
      display: block;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1rem;
      letter-spacing: 0;
      transform: translateX(calc(-9.6px * var(--num)));
      white-space: nowrap;
    }

    &:nth-child(5n+1):before {
      animation-name: randomTxt1;
    }

    &:nth-child(5n+2):before {
      animation-name: randomTxt2;
    }

    &:nth-child(5n+3):before {
      animation-name: randomTxt3;
    }

    &:nth-child(5n+4):before {
      animation-name: randomTxt4;
    }

    &:nth-child(5n+5):before {
      animation-name: randomTxt5;
    }

    &:nth-child(10n+6):before {
      animation-name: randomTxt6;
    }

    &:nth-child(10n+7):before {
      animation-name: randomTxt7;
    }

    &:nth-child(10n+8):before {
      animation-name: randomTxt8;
    }

    &:nth-child(10n+9):before {
      animation-name: randomTxt9;
    }

    &:nth-child(10n+10):before {
      animation-name: randomTxt10;
    }
  }
}

@keyframes randomTxt1 {
  0% {
    --num: 0;
  }

  25% {
    --num: 7;
  }

  50% {
    --num: 12;
  }

  75% {
    --num: 17;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt2 {
  0% {
    --num: 7;
  }

  25% {
    --num: 69;
  }

  50% {
    --num: 2;
  }

  75% {
    --num: 37;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt3 {
  0% {
    --num: 22;
  }

  25% {
    --num: 59;
  }

  50% {
    --num: 22;
  }

  75% {
    --num: 49;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt4 {
  0% {
    --num: 29;
  }

  25% {
    --num: 77;
  }

  50% {
    --num: 52;
  }

  75% {
    --num: 87;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt5 {
  0% {
    --num: 9;
  }

  25% {
    --num: 76;
  }

  50% {
    --num: 29;
  }

  75% {
    --num: 71;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt6 {
  0% {
    --num: 41;
  }

  25% {
    --num: 82;
  }

  50% {
    --num: 15;
  }

  75% {
    --num: 63;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt7 {
  0% {
    --num: 14;
  }

  25% {
    --num: 3;
  }

  50% {
    --num: 88;
  }

  75% {
    --num: 21;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt8 {
  0% {
    --num: 72;
  }

  25% {
    --num: 33;
  }

  50% {
    --num: 54;
  }

  75% {
    --num: 10;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt9 {
  0% {
    --num: 5;
  }

  25% {
    --num: 91;
  }

  50% {
    --num: 47;
  }

  75% {
    --num: 28;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}

@keyframes randomTxt10 {
  0% {
    --num: 66;
  }

  25% {
    --num: 19;
  }

  50% {
    --num: 80;
  }

  75% {
    --num: 4;
  }

  95% {
    color: var(--primary);
  }

  100% {
    --num: 93;
    color: light-dark(var(--color-dark), var(--color-light));
  }
}
